<h3><i class="fas fa-link"></i> Shorten URLs</h3>
<div class="section">
    <p class="lead">
        Use this and short URLs
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>
        Log In with Google
    </a>
</div>